<div class="col-md-7 mx-auto">
  <form class="needs-validation" [formGroup]="form" (ngSubmit)="onSubmit()">

    <legend class="mb-3">LOGIN</legend>

    <!--EMAIL-->
    <div class="form-group">
      <label id="email" for="username">Email</label>
      <input class="form-control" type="email" formControlName="email"
        [ngClass]="{invalid : f.email.touched && f.email.errors?.required}" />
      <span class="red" *ngIf="f.email.touched && f.email.errors?.required">
        Email is required
      </span>
      <span class="red" *ngIf="f.email.touched && f.email.errors?.email">
        Wrong email format
      </span>
    </div>


    <!--PASSWORD-->
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" class="form-control" type="password" formControlName="password"
        [ngClass]="{invalid: f.password.touched && f.password.invalid}" />
      <span class="red" *ngIf="f.password.touched && f.password.errors?.required">
        Password is required</span>
    </div>

    <div class="form-group mt-5">
      <button [disabled]="form.invalid" class="btn btn-success form-control">SIGN-IN</button>
    </div>
  </form>
</div>
