<div class="col-md-7 mx-auto">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <legend class="mb-3">REGISTRATION FORM</legend>

    <!--NAME-->
    <div class="row">
      <div class="form-group col-md-6">
        <label for="firstName">First Name</label>
        <input id="firstName" class="form-control" type="text" formControlName="firstName"
          [ngClass]="{invalid: f.firstName.touched && f.firstName.errors?.required}" />
        <span class="red" *ngIf="f.firstName.touched && f.firstName.errors?.required">
          First name is required</span>
      </div>

      <div class="form-group col-md-6">
        <label for="lastName">Last Name</label>
        <input id="lastName" class="form-control" type="text" formControlName="lastName"
          [ngClass]="{invalid: f.lastName.touched && f.lastName.errors?.required}" />
        <span class="red" *ngIf="f.lastName.touched && f.lastName.errors?.required">Last name is required</span>

      </div>
    </div>

    <!--ADDRESS-->
    <div class="row col-md">
      <label for="street">ADDRESS</label>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="street">Street</label>
        <input id="street" class="form-control" type="text" formControlName="street" />
      </div>

      <div class="form-group col-md-4">
        <label for="city">City</label>
        <input id="city" class="form-control" type="text" formControlName="city" />
      </div>

      <div class="form-group col-md-2">
        <label for="zipcode">Zip Code</label>
        <input id="zipcode" class="form-control" type="text" formControlName="zipcode" />
      </div>
    </div>

    <!--USERNAME-->
    <div class="form-group">
      <label id="username" for="username">Username</label>
      <input class="form-control" type="text" formControlName="username"
        [ngClass]="{invalid: f.username.touched && f.username.errors}" />
      <div *ngIf="f.username.touched && f.username.invalid">
        <span class="red" *ngIf="f.username.errors?.required;else minLength">
          Username is required</span>
        <ng-template #minLength>
          <span class="red" *ngIf="f.username.errors">Username must be at least 6 characters</span>
        </ng-template>
      </div>
    </div>

    <!--EMAIL-->
    <div class="form-group">
      <label id="email" for="username">Email</label>
      <input class="form-control" type="email" formControlName="email"
        [ngClass]="{invalid: f.email.touched && f.email.invalid}" />
      <div *ngIf="f.email.touched && f.email.invalid">
        <span class="red" *ngIf="f.email.errors?.required">
          Email is required</span>
      </div>
    </div>


    <div class="row">
      <!--PASSWORD-->
      <div class="col-md-6">
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" class="form-control" type="password" formControlName="password"
            [ngClass]="{invalid: f.password.touched && f.password.errors?.required}" />
          <div *ngIf="f.password.touched && f.password.invalid">
            <span class="red" *ngIf=f.password.errors?.required>Password is required</span>
          </div>
        </div>
      </div>

      <!--CONFIRM PSW-->
      <div class="col-md-6">
        <div class="form-group">
          <label for="confirmPsw">Confirm Password</label>
          <input id="confirmPsw" class="form-control" type="password" formControlName="confirmPsw"
            [ngClass]="{invalid: f.confirmPsw.touched && f.confirmPsw.invalid }" />
          <div *ngIf="f.confirmPsw.touched && f.confirmPsw.invalid">
            <span class="red" *ngIf=f.confirmPsw.errors?.required>Please confirm your password</span>
            <span class="red" *ngIf=f.confirmPsw.errors?.Matcher>Password and Confirm Password must match</span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group mt-5">
      <button [disabled]="form.invalid" class="btn btn-outline-primary form-control">SIGN-UP</button>
    </div>
  </form>
</div>
